@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <h1 class="pagetitle">Administration</h1>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="tabs">
                <button class="tablinks active">Reports</button>
                <button class="tablinks">Users</button>
            </div>
            <div class="tabcontent-container">
                <div id="transactions" class="tabcontent active">
                </div>
                <div id="transactions" class="tabcontent">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h5>Quick Actions</h5>
            <div class="container quickaction">
                <div class="row">
                    <btn id="createReport" class="btn btn-outline-secondary mmodal-btn quickaction-link">New Report</btn>
                </div>
                <div class="row">
                    <btn id="createUser" class="btn btn-outline-secondary mmodal-btn quickaction-link">New User</btn>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mmodal">
    <div class="mmodal-content">
        <span class="close">&times;</span>
        <div id="partial-content">
            @{ await Html.RenderPartialAsync("~/Views/Account/_Register.cshtml"); }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var tabs = $('.tablinks');
        var tabsContent = $('.tabcontent');
        var activeTab = $('.tablinks.active')[0];
        var activeTabContent = $('.tabcontent.active')[0];

        $('.tablinks').on('click', function (e) {
            e.preventDefault();
            if (activeTab !== e.target) {
                activeTab.className = activeTab.className.replace(' active', '');
                e.target.className += ' active';
                activeTab = $('.tablinks.active')[0];

                for (i = 0; i < tabsContent.length; i++) {
                    if (tabs[i] === e.target) {
                        activeTabContent.className = activeTabContent.className.replace(' active', '');
                        tabsContent[i].className += ' active';
                        activeTabContent = tabsContent[i];
                    }
                }
            }
        });

        $('#partial-content').on('click', '#submitUserDetails', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Register", "Account")',
                data: $('form').serialize(),
                success: function (result) {
                    console.log(result);
                    $("#partial-content").html(result);
                },
                error: function (result) {
                    console.log("error");
                }
            })
        });

        $('#createUser').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: '@Url.Action("Register", "Account")',
                success: function (result) {
                    $("#partial-content").html(result);
                }
            })
        })
    });
</script>