@using ScrapTrack.Data.Models
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-outline-primary logout-btn" asp-action="Logout" asp-controller="Account">Log out</a>
        </li>
    </ul>
}
