@model IEnumerable<ScrapTrack.Data.Models.Volunteer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h1>Volunteers</h1>
    <div class="row">
        <div class="col-8">
            <input class="form-control search-box" type="text" id="myInput" onkeyup="search()" placeholder="Search" title="Type in a search term">
            <div class="dt-vertical-scroll">
                <table class="table" id="activeTable">
                    <thead>
                        <tr>
                            <th class="table-checkbox-column"></th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="table-checkbox-column">
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.FirstName)                                    
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <h3>Actions</h3>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <p>Click the volunteer's name to edit their details!</p>
        </div>
    </div>
</div>
