@model ScrapTrack.Data.Models.Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Item Details</h3>
            <hr />
            <div id="itemDetails">
                @{ await Html.RenderPartialAsync("~/Views/Items/_DetailItem.cshtml", Model); }
            </div>
            <hr />
            <div>
                <a class="btn btn-outline-secondary mmodal-btn quickaction-link btnEditItem" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-outline-secondary mmodal-btn quickaction-link btnDeleteItem" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@{ await Html.RenderPartialAsync("~/Views/Shared/_Modal.cshtml"); }

<script>
    $(document).ready(function () {
        $('.btnEditItem').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Edit", "Items", new { id = Model.Id })',
                success: function (result) {
                    $("#partial-content").html(result);
                }
            });
        });

        $('.btnDeleteItem').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Delete", "Items", new { id = Model.Id })',
                success: function (result) {
                    $("#partial-content").html(result);
                }
            });
        });
    });
</script>
