/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
    padding: .2rem;
}
a.navbar-brand img {
    height: 45px;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.nav-item {
    padding-right: .5rem;
}
.btn-primary {
    color: #FFF;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.logout-btn {
    width: 5rem;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Table styles
-------------------------------------------------- */

.dt-vertical-scroll {
    margin: 20px 0 0 0;
    max-height: 525px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #dee2e6;
}

.dt-vertical-scroll .table thead {
    background-color: #FFF;
    position: sticky;
    top: 0%;
}

.dt-vertical-scroll .table {
    border-collapse: separate;
    border-spacing: 0;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    margin: 0;
}

.dt-vertical-scroll .table thead th {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.dt-vertical-scroll .table tbody td {
    border: 0;
}

.table-checkbox-column {
    text-align: center;
    width: 50px;
}

.table tbody tr:hover {
    background-color: #E8E9E9;
}

.table tbody td a {
    color: #14A1D0;
    font-weight: 700;
}

/* Modal styles
-------------------------------------------------- */
.mmodal {
    position: fixed;
    z-index: 1;
    display: none;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.mmodal-content {
    background-color: #FFF;
    margin: auto;
    width: 800px;
    padding: 20px;
    border-radius: 5px;
}

.close {
    color: #AAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Other styles
-------------------------------------------------- */
.search-box {
    width: 15rem;
}

h1 {
    margin: 1.5rem 0;
}

.login {
    padding-top: 100px;
}
