/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
    padding: 0;
}
a.navbar-brand img {
    height: 35px;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.nav-item {
    padding-right: .5rem;
}
.btn-primary {
    color: #FFF;
    background-color: #1b6ec2;
    border-color: #1861ac;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-color: #F2F5F8;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Table styles
-------------------------------------------------- */

.dt-vertical-scroll {
    margin-top: 1rem;
    height: 350px;
    width: 100%;
    overflow: auto;
    border: 1px solid #dee2e6;
    background-color: #FFF;
}

.dt-vertical-scroll .table thead {
    background-color: #FFF;
    position: sticky;
    top: 0%;
}

.dt-vertical-scroll .table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
}

.dt-vertical-scroll .table thead th {
    border-top: 0;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    font-size: .8rem;
    font-weight: 600;
    color: #B4BBC3; 
}
.dt-vertical-scroll .table tbody td {
    border: 0;
    font-size: .85rem;
}

.table-checkbox-column {
    text-align: center;
    width: 50px;
}

.table td, .table th {
    padding: .5rem;
}

.table tbody tr:hover {
    background-color: #F2F5F8;
}

.table tbody td a {
    color: #14A1D0;
    font-weight: 700;
}

/* Modal styles
-------------------------------------------------- */
.mmodal {
    position: fixed;
    z-index: 1;
    display: none;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.mmodal-content {
    background-color: #FCFCFC;
    margin: auto;
    width: 1000px;
    padding: 20px;
    border-radius: 5px;
}

.mmodal-btn {
    float: right;
    width: 9rem;
}

.close {
    color: #AAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Tabs styles
-------------------------------------------------- */
.tabs {
    margin-top: .75rem;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    background-color: #313D4E;
}

.tabs button {
    background-color: inherit;
    color: #919BA4;
    font-weight: 500;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
}

.tabcontent {
    display: none;
    height: 500px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border-top: none;
}

.tabcontent-container {
    background-color: #FCFCFC;
}

.tablinks.active {
    color: #FFF;
    background-color: #788594;
}

.tabcontent.active {
    display: block;
}

/* Other styles
-------------------------------------------------- */
.search-box {
    width: 15rem;
}

.login {
    padding-top: 100px;
}

.quickaction-link {
    float: left;
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.pagetitle {
    font-weight: 600;
    margin: .1rem 0 .3rem 0;
}

/* Overrided Styles
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    color: #444444;
}

.btn {
    border-radius: .15rem;
}
.btn-outline-secondary {
    background-color: #FFF;
    border-color: #C5CEDC;
    color: #666;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: inherit !important;
    color: #666 !important;
    border-color: #C5CEDC !important;
}

.last-header {
    border-right: 0 !important;
}

.container {
    max-width: 1200px;
}

.form-group select,
.form-group input[type='text'],
.form-group input[type='password'] {
    width: 250px
}

.form-group .center-btn {
    width: 9rem;
}