body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    max-width: 1425px;
    padding: 20px 90px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    padding: 0;
    height: 98px;
    background-color: #F8F9F9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.active {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: 1px;
}
.navbar-brand {
    margin: 0;
}

.page-title {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.page-title li {
    padding-left: 10px;
}